@import "global.pcss";

.wrap {
    @mixin wrap1200;
    @mixin clearfix;
    h1 {
        @mixin fl;
        line-height: 60px;
        font-size: 30px;
    }
}

.navlist {
    @mixin fr;
    margin: 20px;
    li {
        @mixin fl;
        padding-left: 100px;
        line-height: 60px;
        font-size: 14px;
    }
}

.footer {
    background: #f0f0f0;
    p {
        padding: 50px 150px;
        width: 200px;
        font-size: 20px;
    }
}