@import "global.pcss";

.wrap {
  @mixin wrap1200;
  @mixin clearfix;
  .gw {
    @mixin fl;
    display: block;
    line-height: 60px;
    font-size: 30px;
  }
}

.navlist {
  @mixin fr;
  li {
    @mixin fl;
    margin-left: 100px;
    border-bottom: 4px solid #fff;
    a {
      font-size: 14px;
      color: #000;
      line-height: 60px;
    }
    &:hover {
      border-bottom: 4px solid #505050;
    }
  }
}

.footer {
  background: #f0f0f0;
  p {
    padding: 50px 150px;
    font-size: 20px;
  }
}
