doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(http-equiv='content-language' content='zh-CN')
    title fang's blog
    block head
  body

    block body

    block foot
