doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(http-equiv='content-language' content='zh-CN')
    title fang's blog
    link(href='/css/layout/layout.css' type='text/css' rel='stylesheet')
    block head

  body
    .wrap
        h1 minimo
        ul.navlist
          li 
            a(href='#') lifestyle
          li 
            a(href='#') photodiary
          li 
            a(href='#') music
          li 
            a(href='#') travel
    block body

    block foot
      .footer
        p just for fun