@import "../lib/modules.pcss";
@import "../lib/normal.pcss";

.main-block {
  @mixin wrap1200;
  margin-top: 30px;
}

.page1-1 {
  @mixin dl;
  margin: 0 auto;
  width: 1062px;
  height: 509px;
  background-image: url(../../images/index/page1-1.png);
}

.page-block {
  margin: 60px auto 0;
  width: 1000px;
  p {
    margin: 10px 0;
    height: 200px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
  }
}

.page-next {
  margin: 60px auto 0;
  width: 1000px;
  @mixin clearfix;
  p {
    width: 420px;
    height: 200px;
    overflow: hidden;
  }
}

.next-left {
  @mixin fl;
}

.next-right {
  @mixin fr;
}

.tips {
  margin: 10px 0;
  @mixin clearfix;
  display: block;
  font-size: 16px;
  line-height: 32px;
  .photodiaryicon {
    margin-right: 5px;
    @mixin fl;
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../../images/index/icon/photodiary.png);
  }
}

.page2-1 {
  @mixin dl;
  width: 420px;
  height: 280px;
  background-image: url(../../images/index/page2-1.png);
}

.page3-1 {
  @mixin dl;
  width: 420px;
  height: 280px;
  background-image: url(../../images/index/page3-1.png);
}

.page4-1 {
  @mixin dl;
  width: 420px;
  height: 280px;
  background-image: url(../../images/index/page4-1.png);
}

.page5-1 {
  @mixin dl;
  width: 420px;
  height: 280px;
  background-image: url(../../images/index/page5-1.png);
}

.page6-1 {
  @mixin dl;
  width: 420px;
  height: 280px;
  background-image: url(../../images/index/page6-1.png);
}

.page7-1 {
  @mixin dl;
  width: 420px;
  height: 280px;
  background-image: url(../../images/index/page7-1.png);
}

.add-email {
  margin: 100px 0;
  padding: 100px 0;
  width: 100%;
  background: #f0f0f0;
  .email-block {
    margin: 0 auto;
    width: 450px;
    p {
      margin-bottom: 50px;
      font-size: 30px;
    }
    .newemail {
      width: 450px;
      height: 30px;
      line-height: 30px;
      border-bottom: 3px solid #000;
      background: #f0f0f0 url(../../images/index/icon/post.png) no-repeat 95%;
    }
  }
}

.next {
  margin: 50px auto;
  display: block;
  font-size: 30px;
  line-height: 60px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
}
