doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(http-equiv='content-language' content='zh-CN')
    title fang's blog
    link(rel='stylesheet' href='/css/index/index.css' type='text/css')
  body
    .header
      h1 minimo
      ul.navlist
        li lifestyle
        li photodiary
        li music
        li travel
 
  
