extends layout/layout

block head 
  link(href='/css/index/classify.css' type='text/css' rel='stylesheet')

block body
  .wrapper
    .listone
      i.page1
      .article
        h1 hello
        p hello hello hello
    .listone
      i.page1
      .article
        h1 hello
        p hello hello hello
    .listone
      i.page1
      .article
        h1 hello
        p hello hello hello     