extends layout/layout

block head 
  link(href='/css/index/classify.css' type='text/css' rel='stylesheet')

block body
  .wrapper
    .listone
      a(href='#') The perfect weekend getaway
      a(href='#') The perfect weekend getaway
      a(href='#') The perfect weekend getaway
      a(href='#') The perfect weekend getaway
          